@import url('new/table.css');
@import url('new/forum.css');
@import url('new/animation.css');

a, a:visited {
    color: gold;
    text-decoration: none;
}

body {
    background: #fff;
    color: #393939;
    /*background: #fff url(../images/.png) fixed bottom right no-repeat;*/
    font-family: 'Lucida Grande', Tahoma, Arial, sans-serif;
    font-size: 11px;
    animation: slide 0.2s ease-in-out;
}

header {
    color: #fcfcfc;
    background: -webkit-linear-gradient(top, #2a0038 50%, #080027);
    background: #2a0038 url(../images/header.png) bottom right repeat-x;
}
	#logo {
		padding: 0; 
		font-size: 20px; 
		font-weight: bold; 
	}
#container{
    background: url('../images/body.png') bottom left repeat-x;
}
footer {
    color: #fcfcfc;
    padding: 20px 0;
    background: #2a0038;
    background: #2a0038 url(../images/tribal_flower_white.png) right bottom no-repeat;
    box-shadow: 1px 0 5px #333;
}
    footer h1{
        font-size: 12px;
        margin: 5px 0;
    }
	footer ul{
		list-style:none;
	}
	footer ul li
	{
		margin-left: 0;
		margin-bottom: 0px;
	}


#main {
    padding: 20px 0;
    min-height: 400px;
}

.align-right{
    text-align: right;
}

#attribution{
	margin: 25px 0 0;
	text-align: right;
	color: white;

}



.content > h1:first-child,
h2.forumreply{
	/* Titel teratas setiap halaman */
	text-align: center;
	text-transform: uppercase;
	color: #555;
	font-family: helvetica, verdana, arial, sans-serif;
	background: url('../images/title-shadow.png') no-repeat bottom center;
	/*border-bottom: 2px solid #ddd;*/
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.content a,
#content a
{
  color: #142f74;
}






/* NAVIGASI */

nav li {
    display: inline-block;
    margin: 0;
}

nav a {
    display: inline-block;
    background: #e6f2ff;
    color: #666 !important;
    padding: 4px 8px;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0px -3px 5px rgba(0,0,0, 0.2);
}

nav a:hover {
    background: white;
    box-shadow: none;
    color: #666;
}

nav a.current {
	color: black !important;
    box-shadow: inset 0px 3px 0px rgba(255,200,0, 0.9);
    background: white;
}








/* LABEL */

span.xxlabel{
	display: inline-block;
	padding: 3px 15px;
	margin: 2px;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	background-color: #5588dd !important;
}
span.xxlabel.red{
	background-color: #dd5588 !important;
}

.message_box
{
	color: gold;
	font-size: 1.3em;
	font-weight: bold;

}

/* DUA KOLOM */

.col-1 h1,
.col-2 h1
{
	font-weight:bold;
	font-size: 14px;
}
.col-1 li a,
.col-2 li a
{
	margin-bottom: 5px;
}
.col-1 li a:hover,
.col-2 li a:hover
{
	border-bottom: 1px dotted gray;
}

.col-1{
	width: 160px;
	float: left;
	text-align: right;
}
	.col-1 ul{
		list-style: none;
	}
.col-2{
	padding-left: 200px;
}
	.col-2 ol li
	{
		margin-left: 20px;
		padding-left: 0;
	}




/* NOTIFICATION */

.notification {
    padding: 4px 8px;
    margin: 8px 0;
    border-radius: 4px;
    background: #cecece;
    background: linear-gradient(top, #d9d9d9, #c0c0c0);
    text-shadow: 1px 1px #fff;
}

.notification .message {
    float: left;
}

.notification .close {
    float: right;
    color: black;
    text-shadow: none;
    font-weight: bold;
}

.notification.green {
    background: #57A957;
    background: linear-gradient(top, #62c462, #57A957);
    color: white !important;
    text-shadow: 1px 1px #666;
}

.notification.green .message:before {
    content: " ✓ ";
}

.notification.blue {
    background: linear-gradient(top, #5bc0de, #339bb9);
    color: white !important;
    text-shadow: 1px 1px #666;
}

.notification.yellow {
    background: #EEDC94;
    background: linear-gradient(top, #fceec1, #EEDC94);
    color: #333 !important;
    text-shadow: 1px 1px #fff;
}

.notification.yellow .message:before {
    content: " ! ";
}

.notification.red {
    background: linear-gradient(top, #ee5f5b, #C43C35);
    color: white !important;
    text-shadow: 1px 1px #666;
}



/*TABLE*/
caption{
	font-weight: bold;
	font-size: 1em;
}
table{
	margin: 15px 0;
}
td.head{
    font-weight: bold;
}




/* User Profile */

.profile-menu {
    border-radius: 5px 5px 0 0;
    text-align: right;
    background: #333;
    background: linear-gradient(bottom, #333 20%, #444);
    display: inline-block;
    position: relative;
    padding: 4px 8px;
}

.profile-menu ul {
    background: #333;
    display: none;
    position: absolute;
    right: 0;
    /*width: 150px;*/
}

.profile-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-menu a {
    padding: 4px 8px;
}

.profile-menu:hover ul {
    display: inline-block;
}

ul li.current a
{
    background-color: white;
}

.profile-menu{
}

.profile-menu ul{
    border-radius: 0 0 10px 10px;
}
.profile-menu li,
.profile-menu ul:last-child{
    padding: 5px;
}
.profile-menu li:hover{
    background-color: #555;
}




/* FORM */

legend {
    font-weight: bold;
    border: 1px solid #cecece;
    margin-left: 10px;
    padding: 4px 20px;
    border-radius: 12px;
    color: #cecece;
    background: white;
    color: black;
    text-shadow: 1px 1px 0 #fff;
    /*background: linear-gradient(top, #fcfcfc, #cecece);*/
}
fieldset {
    border: 1px solid #cecece;
    padding: 10px;
    margin: 4px 0;
    border-radius: 5px;
    box-shadow: 0 0 0px #d9d9d9;
    background: white;
    background: linear-gradient(top, #fcfcfc 50%, #cecece);
}
fieldset.left{
    width: 450px;
    float: left;
}
fieldset.right{
    width: 450px;
    float: right;
}

label{
    color: #777;
    font-weight: bold !important;
    padding: 0 5px;
}
label.aligned{
    display: inline-block;
    width: 150px;
    text-align: right;
}



/* TABEL */


.table {
    width: 100%;
    border-spacing: 1px;
    /*border-collapse: separate;*/
}

.table th,
.table td {
    padding: 5px 10px;
    /*border: 1px solid red;*/
}

.table tbody tr {
    border-bottom: 3px solid #cecece;
    background: #fcfcfc;
}

.table tbody tr:nth-child(even) {

}

.table tbody tr:hover {
    border-bottom: 3px solid #aaa;
    background: #f9f9f9;
}

.table th {
    font-weight: bold;
    text-shadow: 1px 1px 0 #f0f0f0;
    /*background: #d9d9d9;*/
    background: linear-gradient(top, #d9d9d9, #c0c0c0);
}

.table th:first-child {
    border-radius: 4px 0 0 0;
}

.table th:last-child {
    border-radius: 0 4px 0 0;
}

.table td {

}

.table .no {
    width: 1px;
}

.table .short {
    width: 150px;
}

.table .medium {
    width: 400px;
}

.table .action {
    text-align: center;
    background: #f9f9f9;
    vertical-align: middle;
}

.table tbody tr .action .button {
    visibility: hidden;
}

.table tbody tr:hover .action .button {
    visibility: visible;
}

.table tfoot tr {
    background: linear-gradient(top, #d9d9d9, #c0c0c0);
}

.table tfoot td {
    border-radius: 0 0 4px 4px;
}




/* MisC */

div.nicEdit-main{
    background: white;
}


.green.text span{
    color: green !important;
}