a, a:visited {
    color: gold;
    text-decoration: none;
}

body {
    background: #fff;
    color: #393939;
    font-family: 'Lucida Grande', Tahoma, Arial, sans-serif;
    font-size: 11px;
}

header {
    color: #fcfcfc;
    background: #2a0038;
    background: -webkit-linear-gradient(top, #2a0038 50%, #080027);
}
	#logo {
		padding: 20px; 
		font-size: 20px; 
		font-weight: bold; 
	}

/* NAVIGASI */

nav li {
    display: inline-block;
    margin: 0;
}

nav a {
    display: inline-block;
    background: #e6f2ff;
    color: #666 !important;
    padding: 4px 8px;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0px -3px 5px rgba(0,0,0, 0.2);
}

nav a:hover {
    background: white;
    box-shadow: none;
    color: #666;
}

nav a.current {
    box-shadow: none;
    box-shadow: inset 0px 3px 0px rgba(255,200,0, 0.9);
    background: white;
}