@charset "utf-8";
/* author: juna - em0hijau@yahoo.co.id */

/* begin: form login */
body{ background:#d7ebef; color:#000; font-family:Arial, Helvetica, sans-serif; }
#login_box{ font-size:12px; }
*{ margin:0; padding:0; }
#wrapper{
	margin:0 auto;
	width:auto;
	height:auto;
	height:100%;
}
#header{
	height:35px;
	width:auto;
	background:url(../images/header.png) no-repeat #0e6cba;
}
#header img{
	position:static;
	width:100%;
	height:100%;
}
#navbar{
	height:34px;
	width:auto;
	background:#FFF;
}
#mid{ height:145px; border-top:#b8ceda solid 3px; border-bottom:#b8ceda solid 3px; width:300px; margin:0 auto; margin-top:100px; }
#title_form_login { text-align:center; color:#333; margin-left:-220px; margin-top:10px; }
table{ margin-left:20px; }
/* end: form login */



/* cpanel */
/* begin: navbar */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	font-size:12px;
	padding-bottom:-0px;
	margin-left:-2px;
}
.sf-menu {
	line-height:	0.8;
}
.sf-menu ul {
	position:		absolute;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.7em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li{border-top:1px solid #ccc; border-left:0px!important;}
ul.sf-menu li li a{border-left:0px!important;}


ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
}
.sf-menu a {
	padding: 		.85em 1em;
height:13px;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#000;
}

.sf-menu li {
	background:none;
	border-right: 3px solid #b8ceda;
	height:34px;
}
.sf-menu li li {
	background:		#999;
}
.sf-menu li li li {
	background:		#dedede;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background-position:top;
	background-color:#D65703;
	color:#fff!important;
	outline:		0;
}

.sf-menu .selected{
	background-image:url(../images/nav-bg.png);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#282828;
	border-bottom:1px solid #000;
color:#fff!important;
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.9em;}


.scroll_top{
	float:right;
	margin-top:11px;
	cursor:pointer;
	margin-top:15px;
	}	

.scroll_top span{
	padding:9px 5px 9px 5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #600;
	background:#de4049;
	}
	
	
/* COMMON CLASSES */
.break { clear:both; }
#logout{ float:right; margin:7px 15px 5px 10px; font-size:12px; }
#logout a{ text-decoration:underline; color:#F00; }

/* end: navbar */



/* begin: content */
#content{ 
	background:#FFF; 
	min-height:600px;
	height:auto;
	height:100%; 
	width:auto; margin:20px 10px 10px 10px; }
/* end: content */



/* begin: footer */
#footer{ background:#FFF; min-height:30px; height:auto; border-top: 1px solid #CCC; }
	#footer span{ font-family:"Lucida Console", Monaco, monospace; font-size:12px; margin:20px; word-spacing:0em;}
/* end: footer */






/* begin: tabs content */
div.clear{
	clear:both;
}
a{
	color:#222;
	text-decoration:none;
}
a:hover{
	color:#D65703;
}
/* ------------------------------
Konten = Tabs + Konten Tab
------------------------------ */
#konten{
	padding:20px;
	background:#FFF;
	color:#555;
}
#konten p{
	text-indent:15px;
	line-height:160%;
	font-size:12px;
}
/* ------------------------------
Navigasi Tabs
------------------------------ */
ul#nav {
	padding:0px 5px 5px 0;
}
ul#nav li{
	display:inline;
	float:left;
	position:relative;
	margin-right:5px;
	font-size:12px;
	font-weight:bold;
}
ul#nav li a{
	background:#e3e4e4;
	padding:5px 15px;
	color:#222;
	text-decoration:none;
	display: block;
}
ul#nav li a:hover{
	background:#29b8f3;
}
ul#nav li a.active, ul#nav li a.active:hover{
	background:#FFF;
	color:#555;
}


/* end: tabs content */




/* BEGIN: HELP DESK */
#backupDB{ background:url(../images/backupDB.png) no-repeat; width:auto; height:23px; margin:50px 10px 10px 20px; }
/* END: HELP DESK */

/* BEGIN: CONTENT */
.button{ font-size:12px; width:80px; height:25px; }

#head{ float:none; width:100%; font-size:12px; }
	#insert{ background:url(../images/insert.png) no-repeat; width:100px; height:23px; float:left; }
	#tambahforum{ background:url(../images/tambahforum.png) no-repeat; width:100px; height:23px; float:left; }
	#textfield-search{ float:right; }
	#search{ /*background:url(../images/search.png) no-repeat; width:100px; height:23px;*/ float:right; margin-right:-19px; margin-top:-1px; }
	#tambah_user{ background:url(../images/insert.png) no-repeat; width:100px; height:23px; float:right; }
	#cari_user{ float:left; }
	#tambah_unit{ background:url(../images/insert.png) no-repeat; width:100px; height:23px; float:right; }
	#cari_unit { float:left; }
	
#tail{ float:left; width:100%; height:auto; margin:20px 0px 10px 0px; padding-right:30px; font-size:12px; }
	.sort{ width:30px; }
	.medium{ width:150px; }
	#left{ float:left; width:40%; }
		#left li{ margin-left:20px; list-style:none; }
	#middle{ float:left; width:16%; text-align:center; margin-top:50px; }
	#right{ float:left; width:40%; }
	
#tail h6{ padding-left:20px; font-size:12px; }
#tail p{ text-align:justify; padding-right:0px; padding-left:20px; }
#tail #line{ color:#d8ecef; background:#d8ecef; height:2px; margin-right:10px; }
#namakategori{ padding-left:-20px; margin-bottom:11px; font-size:12px; }
#content a{ color:#0554a3; }
#content a:hover{ color:#D65703; }
.pagination{ font-size:12px; float:right;}
/* END: CONTENT */

.satker { float: left; }

.satker_button { float: left; margin: 50px 20px 0px 20px; }


/* STYLE END HERE */



























/* SATPAM / SATKER */
#ABCDE{
	background-image: linear-gradient(left top, rgb(108,162,199) 33%, rgb(141,200,240) 80%, rgb(168,207,255) 99%);
	background-image: -o-linear-gradient(left top, rgb(108,162,199) 33%, rgb(141,200,240) 80%, rgb(168,207,255) 99%);
	background-image: -moz-linear-gradient(left top, rgb(108,162,199) 33%, rgb(141,200,240) 80%, rgb(168,207,255) 99%);
	background-image: -webkit-linear-gradient(left top, rgb(108,162,199) 33%, rgb(141,200,240) 80%, rgb(168,207,255) 99%);
	background-image: -ms-linear-gradient(left top, rgb(108,162,199) 33%, rgb(141,200,240) 80%, rgb(168,207,255) 99%);
	
	background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.33, rgb(108,162,199)),
	color-stop(0.8, rgb(141,200,240)),
	color-stop(0.99, rgb(168,207,255))
	);
	height:100px;
	width:100px;
}
#content .separator{
	background:#CCC;
	height:126px;
	width:2px;
	float:left;
	margin-right:20px;
}
	#ABCDE h1{
		text-align:center;
		padding:30px;
		color:#000;
		font-weight:bold;
	}
	
	
#identitas_satker img{
	height:123px;
	width:540px;
	margin-top:30px;
}

.success {
    border: 2px solid #C6D880;
    background: #E6EFC2 url(../images/check.png) no-repeat 10px center;
    color: #264409;
    font-size: 13px;
    padding: 4px 35px;
}

.error {
    border: 2px solid #FBC2C4;
    background: #FBE3E4 url(../images/error.png) no-repeat 10px center;
    color: #8A1F11;
    font-size: 13px;
    padding: 4px 35px;
}

.info {
    border: 2px solid #92CAE4;
    background: #D5EDF8 url(../images/info.png) no-repeat 10px center;
    color: #205791;
    font-size: 13px;
    padding: 4px 35px;
}

.notice {
    border: 2px solid #FFD324;
    background: #FFF6BF url(../images/exclamation.png) no-repeat 10px center;
    color: #514721;
    font-size: 13px;
    padding: 4px 35px;
}