
.table {
    width: 100%;
    border-spacing: 1px;
    /*border-collapse: separate;*/
}

.table th,
.table td {
    padding: 5px 10px;
    /*border: 1px solid red;*/
}

.table tbody tr {
    border-bottom: 3px solid #cecece;
    background: #fcfcfc;
}

.table tbody tr:nth-child(even) {

}

.table tbody tr:hover {
    border-bottom: 3px solid #aaa;
    background: #f9f9f9;
}

.table th {
    font-weight: bold;
    text-shadow: 1px 1px 0 #f0f0f0;
    /*background: #d9d9d9;*/
    background: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0);
}

.table th:first-child {
    border-radius: 4px 0 0 0;
}

.table th:last-child {
    border-radius: 0 4px 0 0;
}

.table td {

}

.table .no {
    width: 1px;
}

.table .short {
    width: 150px;
}

.table .medium {
    width: 400px;
}

.table .action {
    text-align: center;
    background: #f9f9f9;
    vertical-align: middle;
}

.table tbody tr .action .button {
    visibility: hidden;
}

.table tbody tr:hover .action .button {
    visibility: visible;
}

.table tfoot tr {
    background: -webkit-linear-gradient(top, #d9d9d9, #c0c0c0);
}

.table tfoot td {
    border-radius: 0 0 4px 4px;
}